name: Telegram Auto Post

on:
  workflow_dispatch:
  schedule:
    - cron: "40 11 * * *"

jobs:
  post:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: List files
        run: |
          echo "===== ROOT FILES ====="
          ls -la
          echo "===== send.py content ====="
          cat send.py

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install requests
        run: pip install requests

      - name: Run bot
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: |
          echo "===== RUN START ====="
          python send.py
          echo "===== RUN END ====="
